option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: tajo.wsgi:application

files:
  "/etc/nginx/conf.d/staticfiles.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /static/ {
        alias /var/app/current/staticfiles/;
      }

container_commands:
  01_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
