/* 관리자 dashboard 화면의 스타일을 관리합니다. */


.box {
      width: 200px;
      height: 100px;
      background-color: #BCE8F7; /* 박스 색상 */
      border: 1px solid black;    /* 테두리 */
      border-radius: 10px;        /* 모서리 둥글게 */
      padding: 10px;              /* 안쪽 여백 */
      margin: 0 auto;         /* 바깥 여백 : 좌우 마진 자동으로 해서 가운데 정렬 */
    }

