{% extends "layout/base.html" %}
{% load static %}

{% block title %}빠른 질문{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="head_container">
  <a href="{% url 'main_home' %}" class="go_home_btn">🏠</a>
  <h1>FAQ</h1>
</div>

<main class="screen">
  <div class="frame-wrapper">
    <div class="frame">
        <!-- 탭 메뉴 -->
        <header>
            <ul class="tab-menu">
                <li class="active"><a href="#usage">서비스 이용</a></li>
                <li><a href="#signup">서비스 가입</a></li>
                <li><a href="#pricing">서비스 요금</a></li>
                <li><a href="#call">차량 호출</a></li>
                <li><a href="#boarding">탑승 인원</a></li>
            </ul>
        </header>

        <!-- FAQ 리스트 -->
        <section class="faq-section">
            <!-- 서비스 이용 -->
            <details data-category="usage">
                <summary>DRT는 어떤 서비스인가요?</summary>
                <p>DRT(Demand Responsive Transport)는 수요(호출)에 따라 이동하는 승차 공유 서비스입니다.</p>
                <p>이용자가 출발지와 목적지를 선택하여 호출하면 도보 이동이 가까운 위치의 정류장으로 배정되어 탑승합니다.</p>
                <p>유사한 경로를 가는 이웃 주민과 승차 공유하여 최적의 운행노선을 구성하고 하차 정류장까지 이동해요.</p>
            </details>
            <details data-category="usage">
                <summary>서비스는 누가 운영하나요?</summary>
                <p>똑타는 현대자동차에서 개발한 플랫폼을 통해 경기교통공사와 경기도 지역 내 운수사에서 협업을 통해 서비스가 운영됩니다.</p>
                <p>따라서 각 서비스 지역의 교통 정책, 운수사에 따라 요금이나, 운송약관에 차이가 있을 수 있습니다.</p>
            </details>
            <details data-category="usage">
                <summary>똑타 앱은 어떤 서비스인가요?</summary>
                <p>똑타 앱은 경기도 지역에 특화된 서비스입니다.</p>
                <p>경기도 지역 회원이시라면, 아래 링크를 통해 똑타 앱을 설치하시고, 로그인하시면 통합회원 인증을 통해 이용하실 수 있습니다.</p>
            </details>
            <!-- 서비스 가입 -->
            <details data-category="signup">
                <summary>회원 탈퇴는 어떻게 하나요?</summary>
                <p>회원 탈퇴는 앱 내 메뉴를 통해 처리하실 수 있습니다.</p>
                <p><strong>[회원 탈퇴 경로]</strong></p>
                <p>• 앱 메인 화면 좌측 상단 ‘메뉴’ → 활성화된 메뉴 하단 ‘설정’ → ‘서비스 탈퇴’</p>
                <p><strong>[유의사항]</strong></p>
                <p>• 탈퇴 이후에는 3개월 동안 재가입이 제한됩니다.</p>
                <p>• 탈퇴 이후에는 모든 서비스를 이용할 수 없으며, 이용 기록은 즉시 삭제됩니다.</p>
                <p>• 탈퇴 시 똑타 앱과 셔클 플랫폼에서 운영되는 모든 앱에서 일괄 탈퇴 처리 됩니다.</p>
            </details>
            <details data-category="signup">
                <summary>전화번호가 바뀌었어요. 새로운 번호로 변경하고 싶어요.</summary>
                <p>변경된 번호의 휴대전화에서 앱을 재설치하고, 기존 계정으로 로그인해 주세요.</p>
                <p>이후 휴대전화 본인인증 단계 진행을 통해 신규 전화번호로 변경 등록됩니다.</p>
            </details>
            <details data-category="signup">
                <summary>14세 미만의 어린이나 청소년도 가입할 수 있나요?</summary>
                <p>14세 미만의 어린이나 청소년도 서비스에 가입하고 이용할 수 있어요.</p>
                <p>다만 회원가입 시에는 법정대리인의 본인인증이 필요하니 보호자와 함께 가입해 주세요.</p>
            </details>
            <!-- 서비스 요금 -->
            <details data-category="pricing">
                <summary>BC카드로 태깅 시 등록되지 않은 교통카드 음성이 나와요.</summary>
                <p>BC카드 등 일부 카드의 경우, 카드에 인쇄된 번호 이외 개별 교통카드 번호를 사용합니다.</p>
                <p>개별 교통카드 번호는 BC카드나, 카드 발급처 고객센터를 통해 문의해주세요.</p>
                <p>교통카드 번호를 확인하셨다면, 다음과 같은 절차로 교통카드를 등록해 주세요.</p>
                <p><strong>[교통카드 등록 방법]</strong></p>
                <p>• 앱 초기화면 → 우측 상단 메뉴 → 카드 관리 → 교통카드 추가</p>
                <p>※ 교통 카드는 최대 3개까지 등록 가능합니다.</p>
                <p>※ 이미 3개가 등록된 경우 기존 카드를 삭제 후 등록해 주세요.</p>
            </details>
            <details data-category="pricing">
                <summary>성인, 청소년, 어린이는 몇 살을 기준으로 하나요?</summary>
                <p>DRT 탑승 인원은 성인, 청소년, 어린이로 구분되며, 모두 만 나이를 기준으로 해요.</p>
                <p>영유아는 동승자와 함께 하나의 좌석에 승차할 경우 요금이 부과되지 않으나, 좌석이 필요한 경우 어린이로 이용하셔야 해요.</p>
                <p><strong>[연령별 기준]</strong></p>
                <p>• 성인: 만 19세 이상</p>
                <p>• 청소년: 만 13세 이상 ~ 만 19세 미만</p>
                <p>• 어린이: 만 6세 이상 ~ 13세 미만</p>
                <p>• 영유아: 만 6세 미만 취학 전 아동</p>
            </details>
            <details data-category="pricing">
                <summary>DRT 이용 요금은 얼마인가요?</summary>
                <p>DRT 이용 요금은 연령별로 구분 됩니다.</p>
                <p><strong>[이용 요금]</strong></p>
                <p>• 성인: 1,450원</p>
                <p>• 청소년: 1,010원</p>
                <p>• 어린이: 730원</p>
            </details>
            <details data-category="pricing">
                <summary>삼성페이로 교통카드를 이용하고 싶어요.</summary>
                <p>삼성페이로 교통카드 태깅을 이용하시려면 앱에서 발급한 교통카드 번호 확인이 필요해요.</p>
                <p>아래 경로를 통해 확인된 교통카드 번호를 등록해 주세요.</p>
                <p><strong>[삼성페이 앱 경로]</strong></p>
                <p>• 교통카드 번호 확인 : 삼성페이 앱 > 하단 ‘전체’ > ‘교통카드’ 메뉴 진입 > 교통카드 추가 또는 티머니/캐시비 선택</p>
            </details>
            <details data-category="pricing">
                <summary>요금은 어떻게 결제하나요?</summary>
                <p>가입하실 때 등록하신 결제 카드로 내릴 때 자동 결제하거나, 앱에 등록한 교통카드 태깅으로 요금을 결제할 수 있어요.</p>
                <p><strong>[교통카드로 요금 지불하기]</strong></p>
                <p>• 호출전 결제 관리에서 사용 가능한 교통카드를 등록해 주세요.</p>
                <p>• 차량 탑승 시 앱에 등록한 실물 교통카드를 태깅 하세요.</p>
                <p>• 하차 시에도 동일하게 교통카드를 태깅 하세요. 교통카드에서 탑승 요금이 결제됩니다.</p>
                <p><strong>[결제 카드로 요금 지불하기]</strong></p>
                <p>• 호출전 결제 관리에서 결제카드를 등록해 주세요.</p>
                <p>• 승차시 카드 태깅 없이 차량을 타고 이동하세요.</p>
                <p>• 하차 시 앱에 등록된 결제카드로 운임이 자동 결제됩니다.</p>
            </details>
            <!-- 차량 호출 -->
            <details data-category="call">
                <summary>목적지를 여러 곳으로 호출할 수 있나요?</summary>
                <p>DRT는 출발지와 도착지를 기준으로 경로가 생성되기 때문에 1회 호출 당 1개 목적지로만 이동할 수 있습니다.</p>
                <p>또한 나의 경로가 다른 회원의 경로에도 영향을 미치기 때문에, 최초 호출 시 설정한 목적지 변경은 어려운 점 양해 부탁드립니다.</p>
            </details>
            <details data-category="call">
                <summary>호출 취소는 어떻게 하나요?</summary>
                <p>차량 호출을 완료한 탑승 대기 상태에서는 지도 화면 우측 상단 [호출 취소 버튼]을 누르면 호출 취소가 가능합니다.</p>
                <p>호출 취소 시 지역별로 설정된 호출 취소 페널티가 적용될 수 있어요.</p>
                <p>페널티 적용 여부는 호출 취소 버튼을 누른 시점에 알림창을 통해 안내해 드려요.</p>
            </details>
            <details data-category="call">
                <summary>차량 호출이 불가한 경우가 있나요?</summary>
                <p><strong>[서비스 운영 시간이 아닌 경우]</strong></p>
                <p>목적지 도착예정 시간이 서비스 지역의 운행종료 시간 이후인 경우에는 호출이 어려울 수도 있어요.</p>
                <p>서비스 지역의 운영시간은 [메인화면 - ‘내 주변 DRT존 알아보기’]에서 확인해 보세요.</p>
                <p><strong>[서비스 지역 간 호출]</strong></p>
                <p>호출 시 지도에서 표시된 지역 내에서만 호출이 가능하며, 음영지역을 포함한 지역 간 이동은 불가해요.</p>
                <p><strong>[미수금이 있는 경우]</strong></p>
                <p>이전 이용 시 결제되지 않은 금액(취소·미탑승 수수료)이 있는 경우 ‘미수금’ 처리되며, 미수금 상태에서는 호출이 불가해요.</p>
                <p>결제 카드의 잔액 및 한도 부족으로 인한 미수금은 등록된 카드를 변경하거나 결제가 가능한 상태가 되면 이후 호출 시 자동결제 됩니다.</p>
            </details>
            <details data-category="call">
                <summary>DRT 정류장은 어떻게 배정되나요?</summary>
                <p>정류장은 차량의 이동경로와 회원이 출발지 및 목적지로 도보 이동이 편리한 위치의 정류장으로 배정돼요.</p>
                <p>출발지와 승차 정류장, 목적지와 하차 정류장은 동일하지 않다는 점에 유의해 주시고, 이용할 때는 앱에서 안내된 승하차 정류장을 확인해 주세요.</p>
                <p>※ 동일한 출발지와 목적지로 이동하는 경우에도 교통 및 호출 상황에 따라 승하차 정류장은 달라질 수 있습니다.</p>
            </details>
            <details data-category="call">
                <summary>DRT는 어떻게 호출할 수 있나요?</summary>
                <p>DRT 호출은 두 가지 방법이 있습니다.</p>
                <p><strong>[어디로 가세요? 이용 방법]</strong></p>
                <p>• 앱 초기 화면에서 ‘어디로 가세요?’ 선택</p>
                <p>• 검색창에 도착지 주소나 상호를 검색</p>
                <p>※ 출발지는 GPS상 현위치가 자동 설정 됩니다.</p>
                <p>• 검색 결과 DRT중 버스 아이콘 선택</p>
                <p>• 인원 설정 후 호출 하기 진행</p>
                <p><strong>[DRT 메뉴 이용 방법]</strong></p>
                <p>• 앱 초기 화면에서 DRT를 선택</p>
                <p>• 검색창에 도착지 주소나 상호를 검색</p>
                <p>※ 출발지는 GPS상 현위치가 자동 설정 됩니다.</p>
                <p>• 인원 설정 후 호출 하기 진행</p>
            </details>
            <details data-category="call">
                <summary>DRT 차량은 어떻게 배정 되나요?</summary>
                <p>선택한 출발지에서 목적지까지 이동하기 위해, 가장 효율적인 동선의 차량이 배정돼요.</p>
                <p>다만 유사한 경로의 회원들과 함께 탑승하고 이동할 수 있기 때문에, 호출 당시 안내받은 탑승 예정시간과 이동 경로가 변경될 수 있어요.</p>
                <p>※ 호출 이후에는 앱을 통해 차량의 현재 위치와 승하차 시간 변동이 있을 경우 실시간으로 안내해 드리고 있어요.</p>
            </details>
            <!-- 탑승 인원 -->
            <details data-category="boarding">
                <summary>반려동물과 함께 탈 수 있나요?</summary>
                <p>반려동물 전용 캐리어 등을 이용해 반려동물 신체가 외부로 노출되지 않는 경우에는 탑승이 가능해요.</p>
                <p>반려동물 캐리어를 이용하지 않는 경우 승차가 거부될 수 있습니다.</p>
                <p>※ 시각/청각 장애인과 동승한 장애인 보조견 표지가 있는 안내견은 입마개, 전용 캐리어 없이도 탑승 가능합니다.</p>
            </details>
            <details data-category="boarding">
                <summary>짐을 가지고 탈 수 있나요?</summary>
                <p>가볍게 휴대할 수 있는 물품은 가지고 탑승하실 수 있어요.</p>
                <p>다만 다른 회원에게서 불편을 줄 수 있는 큰 짐이나 식음료는 탑승이 어려울 수 있는 점 양해 부탁드려요.</p>
                <p><strong>[예시]</strong></p>
                <p>• 부피가 큰 짐: 자전거, 유모차 등</p>
                <p>• 식음료: 포장이 되지 않은 음식물, 밀폐되지 않은 음료 등</p>
            </details>
            <details data-category="boarding">
                <summary>차량 도착 시간을 어떻게 확인하나요?</summary>
                <p>수요에 따라 모두에게 효율적인 경로가 생성되는 DRT는 안내된 예정시간이 실시간으로 변동될 수 있어요.</p>
                <p>차량의 위치와 도착시간 등 실시간 정보는 앱을 통해 안내해 드립니다.</p>
                <p>원활한 승차를 위해 앱에서 안내되는 정보를 확인 부탁드려요.</p>
            </details>
            <details data-category="boarding">
                <summary>차량은 어디에서 탑승하나요?</summary>
                <p>호출을 완료하신 후에 탑승 장소가 안내돼요.</p>
                <p>지도 화면에 표시된 타는 곳에서 기다려 주세요.</p>
                <p>타는 곳을 누르면, 거리를 통해 탑승 장소를 보다 자세하게 확인하실 수 있습니다.</p>
            </details>
            <details data-category="boarding">
                <summary>호출 후 탑승 인원수를 변경할 수 있나요?</summary>
                <p>편안하고 쾌적한 승차 환경을 위해 지정 좌석제로 운영되기 때문에 호출 이후에는 탑승 인원수를 변경할 수 없어요.</p>
                <p>승차 인원의 연령을 잘못 선택했거나, 인원이 변경되는 경우에는 호출 취소 후 다시 호출해 주세요.</p>
                <p>※ 호출 취소 시에는 수수료가 발생할 수 있습니다.</p>
            </details>
            <details data-category="boarding">
                <summary>함께 호출한 가족이나 친구와 가까이 앉고 싶어요.</summary>
                <p>다인승 호출을 하신 경우에는 함께 탑승하시는 인원을 고려하여 인근 좌석이 배정돼요.</p>
                <p>호출 과정에서 성인, 청소년, 어린이 등 연령에 맞는 승차 구성원을 설정하고 호출해 주세요.</p>
            </details>
            <details data-category="boarding">
                <summary>여러 명이 함께 호출할 수 있나요?</summary>
                <p>DRT 호출 과정에서 여러 명이 함께 탑승할 수 있도록 호출할 수 있어요.</p>
                <p>탑승은 본인을 포함하여 성인, 청소년, 어린이 등 최대 5명까지 함께 탑승할 수 있습니다.</p>
            </details>
        </section>
      <!-- 하단 상담 버튼 -->
      <a href="https://pf.kakao.com/_GrDxin?default_tab=hometab" class="btn">💬 1:1 상담하기</a>
    </div>
  </div>
</main>
{% endblock content %}

{% block script %}
<script src="{% static 'js/faq/faq-tab.js' %}"></script>
{% endblock script %}
