<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Static files test</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <h1>Team 타조 !</h1>
    <h2>이건 첫번째 레슨....</h2>
    <a href="{% url 'call_home' %}" class="btn">호출 call</a> <br>
    <a href="{% url 'faq_home' %}" class="btn">FAQ faq</a><br>
    <a href="{% url 'guide_home' %}" class="btn">이용방법 guide</a><br>
    <a href="{% url 'call_home' %}" class="btn">카카오 상담하기 kakao</a><br>
    <a href="{% url 'mypage_home' %}" class="btn">마이페이지 mypage</a><br>
    <a href="{% url 'dashboard_home' %}" class="btn">관리자 페이지 dashboard</a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
</body>
<footer>
    <h2>태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘태워줘</h2>
</footer>
</html>
