{% extends "layout/base.html" %}
{% load static %}

{% block title %}목적지 설정{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/call.css' %}">
{% endblock extra_css %}

{% block content %}
<h1>목적지 설정</h1>
<h2>이건 두번째 레슨....</h2>
<a href="{% url 'main_home' %}" class="btn">이전....메인 홈</a>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}

{% block script %}
{% endblock script %}
